/* loaded data style */
.card-area{
    padding: 20px 10px 20px 10px;

}
.card-area:hover{
    box-shadow: 5px 10px 8px #888888;
    background-color: rgb(90, 129, 255);
}
.card-img-area img{
    height: 200px;
    padding-top: 25px;
}