/* slide area start */
.slide-area{
    background-color: rgb(117, 149, 253);
    padding: 30px;
}
.image-area{
    transition: width 0.10s linear, height 0.10s linear, transform 2s;
}
.image-area:hover{
    transform: scale(1.1,1.1);
}
.text-area{
    padding: 30px;
    color: white;
    text-align: center;
}
.text-area h2{
    padding-bottom: 20px;
}